<html>
<head>
    <title>About</title>    
    <link rel="icon" href="/img/mail-logo.png">   
    <link rel="stylesheet" href="./css/styles.css" >
</head>

<body>
    <div class="main-content">

    {{>header}}
    <p>This site is created by Nikhil Shinde. It uses Nodejs packages for scheduling emails. </p>
    <img class="portrait" src="./img/me.jpg" >

</div>

{{>footer}}

</body>
</html>