<html>
<head>
    <title>Email-Automation</title>
    <link rel="icon" href="/img/mail-logo.png">
    <link rel="stylesheet" href="./css/styles.css" >
    
</head>

<body>
    <div class="main-content"> 
    
        {{>header}}

        <p>Use this site to automate your emails</p>

        <form>

            <input placeholder="date" type="date"><br><br>

            <input placeholder="time" type="time"><br><br>

            <button id = "resc" type="submit">Reschedule Mail</button>
            <button id = "del" type="submit">Delete Mail</button>
            <button id = "getdetails" type="submit">Get Mail Details</button>

        </form>

        <p id="n1"></p>
        <p id="n2"></p>
        <p id="n3"></p>
        <p id="n4"></p>
        <p id="n5"></p>
        <p id="n6"></p>

    </div>>

{{>footer}}

<script src="/js/app.js"></script>
</body>
</html>